@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply box-border;
  }

  body {
    @apply bg-[#E7E0D5];
  }

  /*
   * Smooth scroll essentials
   */
  html.lenis,
  html.lenis body {
    height: auto;
  }
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }

  /* 
   * Prevent default scrollbar 
   */
  html,
  body {
    width: 100%;
    min-height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
  }
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }

  /*
   * HoverFlip effect
   */
  @media (min-width: 768px) {
    .linkflip > span {
      display: inline-block;
      position: relative;
      line-height: normal;
      z-index: 1;
      transition: -webkit-transform 1.175s cubic-bezier(0.15, 1, 0.15, 1);
      transition: transform 1.175s cubic-bezier(0.15, 1, 0.15, 1);
    }

    .linkflip > span::after {
      content: attr(data-text);
      display: block;
      position: absolute;
    }

    .linkflip > span::after {
      top: 100%;
      transform: skewY(4deg);
      transform-origin: left top;
      transition: -webkit-transform 2s cubic-bezier(0.19, 1, 0.22, 1);
      transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .linkflip:hover > span {
      transform: translateY(-100%);
    }

    .linkflip:hover > span::after {
      transform: skewY(0);
    }
  }
}
